.navbar {
	background-color: blue;
}
.center
{
	font-family: initial;
	margin-left: 315px;
	    font-size: -webkit-xxx-large;
	    margin-top: -27px;
}
footer
{
	 position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   
   color: white;
   
    background-color: blue;
}
.color
{
	color: red;
}
.down1
{
	height: 400px;
}

.container-fluid
{
	margin-left: -10px;
}
.row1
{
	height: 415px;
	margin-top: -20px;
}
.img1
{
	height: 415px;
}
.clock
{
	margin-left: 1049px;
    /* margin-bottom: -31px; */
    margin-top: -56px;
}
.text
{
	    margin-left: 411px;
	    color: white;
}
.text1
{
	margin-left: 442px;
}
li
{
	color: blue;
	    font-family: cursive;
	    
}